.advantages {
  padding: 35px 0 0 0;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $black;

  @include tablets {
    padding-top: 49px;
  }

  @include desktops {
    padding-top: 59px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 0 auto;
  padding: 0 6px 0 0;

  @include phones {
    width: 273px;
  }

  @include tablets {
    width: 520px;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__text {
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  padding: 0 10px;
  margin: 35px 0 auto;

  @include tablets {
    margin: 29px 0 auto;
  }

  @include desktops {
    padding: 0px 12px 0 8px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;

  @include tablets {
    margin-top: 38px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @include desktops {
    margin-top: 28px;
  }
}

.advantages-list__text {
  padding: 0 6px 0 0;

  @include tablets {
    min-height: 100%;
    padding: 0 6px 0 6px;
  }

  @include desktops {
    min-height: 100%;
    padding: 2px 0 0 0;
  }
}

.advantages-list__item {
  @include desktops {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--contrast {
    color: $white;
  }
}

.advantages-list__item--real-town {
  width: 100%;
  margin: 16px 0 0 0;
  padding: 68px 0 0 0;
  background-color: $blue;
  background-repeat: no-repeat;
  background-image: url("../img/features/white__triangles.svg"), url("../img/features/photo-sity-tablet.jpg");
  background-position: center top, center 226px;
  background-size: 768px 37px, 520px 260px;

  @media (min-width: 320px) and (min-resolution: 2dppx) {
    background-image: url("../img/features/white__triangles.svg"), url("../img/features/photo-sity-tablet@2x.jpg");
  }

  @media (min-width: 520px) {
    background-size: 768px 37px, 100% 260px;
  }

  @include tablets {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 256px 1fr;
    grid-template-areas: "A B" "C C";
    padding: 0;
    background-image: url("../img/features/photo-sity-tablet.jpg");
    background-position: top right;
    background-size: 66.5% 256px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features/photo-sity-tablet@2x.jpg");
    }

    .advantages-list__title {
      grid-area: A;
      font-weight: 700;
      margin: 40px auto 0;
    }

    .advantages-list__number {
      margin: 14px auto 0;
      grid-area: A;
    }

    .advantages-list__desc {
      grid-area: A;
      margin: 23px auto 0;
      max-width: 220px;
    }
  }

  @include desktops {
    background-image: url("../img/features/photo-sity-desktop.jpg");
    background-position: top right;
    background-size: 66.8% 256px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features/photo-sity-desktop@2x.jpg");
    }

    .advantages-list__title {
      grid-area: A;
      font-weight: 700;
      margin: 46px auto 0;
    }

    .advantages-list__number {
      margin: 14px auto 0;
      grid-area: A;
    }

    .advantages-list__desc {
      grid-area: A;
      margin: 23px auto 0;
      max-width: 270px;
    }
  }
}

.advantages-list__item--devil-bridge {
  width: 100%;
  margin-top: 0;
  padding: 41px 0 293px 0;
  background-color: $blue;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 520px 260px;
  background-image: url("../img/features/photo-bridge-tablet.jpg");

  @media (min-width: 320px) and (min-resolution: 2dppx) {
    background-image: url("../img/features/photo-bridge-tablet@2x.jpg");
  }

  @media (min-width: 520px) {
    background-size: 100% 260px;
  }

  @include tablets {
    max-height: 256px;
    padding: 44px 0 44px 66.5%;
    background-position: left;
    background-size: 66.5% 100%;

    .advantages-list__title {
      margin: 0 auto;
      width: 150px;
      font-weight: 700;
    }

    .advantages-list__number {
      margin-top: 12px;
    }

    .advantages-list__desc {
      margin-top: 23px;
      width: 170px;
    }

    @media (min-width: 954px) {
      background-image: url("../img/features/photo-bridge-desktop.jpg");
    }

    @media (min-width: 954px) and (min-resolution: 2dppx) {
      background-image: url("../img/features/photo-bridge-desktop@2x.jpg");
    }
  }

  @include desktops {
    padding: 51px 0 55px 66.5%;

    .advantages-list__desc {
      margin-top: 24px;
      width: 220px;
    }
  }
}

.advantages-list__item--little-place,
.advantages-list__item--beautiful-road,
.advantages-list__item--few-tourists {
  background-color: $lightgray;
  display: flex;

  @include phones {
    background-image: url("../img/features/line.svg");
    background-repeat: repeat-x;
    flex-direction: column;
    align-items: center;
    padding: 26px 32px 24px;
  }

  @include tablets {
    min-height: 256px;
    width: calc(100% / 3);
    padding: 43px 40px 0;

    .advantages-list__desc {
      margin-top: 25px;
    }

    .advantages-list__title {
      font-weight: 700;
    }
  }

  @include desktops {
    padding: 43px 0 9px 0;

    .advantages-list__desc {
      width: 343px;
    }
  }
}

.advantages-list__item--little-place .advantages-list__desc {
  @include desktops {
    max-width: 400px;
    width: 304px;
    margin: 24px 0 0 0;
  }
}

.advantages-list__item--beautiful-road .advantages-list__desc {
  @include tablets {
    width: 200px;
    margin-right: 26px;
  }

  @include desktops {
    max-width: 400px;
    width: 274px;
    margin: 24px 0 0 0;
    padding: 0 5px 0 0;
  }
}

.advantages-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @include tablets {
    display: block;
    width: 133px;
    font-weight: 400;
    font-size: 21px;
  }
}

.advantages-list__number {
  margin: 11px auto 0;
  text-align: center;
  text-transform: uppercase;

  @include desktops {
    margin: 12px auto 0;
  }
}

.advantages-list__desc {
  margin: 17px auto 0;
  max-width: 286px;
  text-align: center;
  text-transform: uppercase;

  @include tablets {
    max-width: 192px;
  }

  @include tablets {
    max-width: 264px;
  }
}

.advantages-list__br {
  display: none;

  @include desktops {
    display: block;
  }
}


// .advantages-list__beautiful-road {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 0 15px;
//   list-style-type: none;

//   @include phones {
//     padding: 0 15px 49px 15px;
//   }

//   &:last-child {
//     @include desktops {
//       padding: 0 15px 49px 15px;
//     }
//   }

//   &:first-child {
//     @include tablets {
//       margin-bottom: 20px;
//     }

//     @include desktops {
//       margin-bottom: 0;
//     }
//   }
// }

// .advantages-list__art3:nth-child(2),
// .advantages-list__art3:last-child {
//   @include tablets {
//     .advantages-list__desc {
//       padding: 0 39px;
//     }
//   }
// }



// .advantages-list__item--devil-bridge {

// }



//   .advantages-list__title {
//     color: $black;
//   }

//   .advantages-list__number,
//   .advantages-list__desc {
//     color: $gray;
//     max-width: 254px;

//     @include tablets {
//       max-width: 350px;
//     }
//   }
// }

// .advantages-list__number {

// }

// .advantages-list__desc {

// }




  // @include desktops {
  //   padding: 47px 66% 36px 0;


  //   .advantages-list__desc {
  //     margin: 23px auto 0;
  //     max-width: 268px;
  //   }
  // }

    // @include desktops {
  //   padding: 50px 0 56px 67%;
  //   margin-top: 36px;

  //   .advantages-list__desc {
  //     margin-top: 25px;
  //     width: 218px;
  //   }
  // }
