/* advantages */

.advantages{
  padding-top: 32px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 0 auto;
  min-width: 303px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  min-width: 303px;
  margin: 35px 0 auto;
}

.advantages-list__item--opt1 {
  margin-top: 16px;
  padding-top: 69px;
  padding-bottom: 300px;
  background-image: url("./../img/features/white__triantgles.svg"), url("./../img/features/photo-city.jpg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 768px 37px, 520px 260px;
  background-color: $blue;
}

.advantages-list__item--opt2 {
  padding-top: 39px;
  padding-bottom: 295px;
  background-image:
  url("./../img/features/devils__bridge.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 520px 260px;
  background-color: $blue;
}

.advantages-list__item--opt3{
  background-color: $lightgray;
  background-image: url("./../img/features/line.svg");
  background-repeat: repeat-x;
  padding: 26px 0;
  .advantages-list__title{
    color: $black;
  }
  .advantages-list__number,
  .advantages-list__desc {
    color: $gray;
  }
}

.advantages-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.advantages-list__number {
  margin: 11px 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.advantages-list__desc {
  margin: 17px 0 auto;
  max-width: 319px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.benefits-item {
  padding-left: 15px;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 51px 256px;
  grid-template-rows: 38px 1fr;
}

.benefits-item:last-child {
  padding-bottom: 52px;
}

.benefits-item__img {
  grid-column-start: 1;
  grid-row-start: 1;
}

.benefits-item__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  grid-column-start: 2;
  grid-row-start: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  padding-top: 7px;
}

.benefits-item__desc {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-row-start: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $gray;
  padding-top: 16px;
  min-width: 232px;
}
