.feedback {
  background-color: $white;
  padding: 38px 0 0 0;
  display: flex;
  flex-direction: column;
}

/* ВОПРОС: После удаления из base.scss правил по поводу a и h1,h1 и т.д.
  начали появляется дефолтные margin-block-start и т.п. Что с этим делать? */

.feedback__title{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.feedback__desc{
  margin: 0 auto;
  padding-top: 25px;
  min-width: 268px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
}

.feedback__link{
  display: inline-block;
  margin: 32px 18px 49px;
  background: $blue;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding: 16px 37px;
}
