.fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 55px auto 0;
    width: 320px;

    @include tablets {
      margin: 47px auto 0;
      flex-direction: row;
      width: 648px;
    }

    @include desktops {
      width: 768px;
    }
  }

  @include tablets {
    background-image: none;
  }

  &--user-name {
    @include tablets {
      width: 50%;
      margin: 0 0 62px 0;
      // padding: 0 6% 0 7%;
      padding: 0 46px 0 57px;
    }

    @include desktops {
      padding: 0 4% 0 10%;
      margin: 0 0 70px 0;
    }
  }

  &--user-info {
    margin: 63px 0 57px 0;
    padding: 0 20px 0 20px;

    @include tablets {
      background-image: url("./../../img/form/live_vert.svg");
      background-repeat: no-repeat;
      background-position: 0 1px;
      margin: 0 0 65px 0;
      width: 50%;
      // padding: 0 7% 0 5%;
      padding: 0 59px 0 42px;
    }

    @include desktops {
      padding: 0 121px 0 78px;
      background-position: 12px 1px;
    }
  }

  &--user-impres {
    margin: 14px 0 44px 0;

    @include tablets {
      margin: 20px 0 45px 0;
      padding: 0 12% 0 12%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include desktops {
      margin: 37px 0 68px 0;
      padding: 0 0 0 174px;
      justify-content: flex-start;
    }
  }

  &--user-emotions {
    @include tablets {
      width: 100%;
    }
  }

  &--user-visited {
    margin: 5px 0 51px 0;

    @include phones {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include tablets {
      margin: 14px 0 41px 0;
      padding: 0 0 0 19%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include desktops {
      justify-content: space-between;
      margin: 44px 0 86px 0;
      padding: 0 156px 0 166px;
    }
  }
}

.fieldset__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @include tablets {
    font-size: 21px;
  }

  &--user-name {
    margin: 0 0 8px 0;

    @include tablets {
      transform: translateX(21px);
      margin: 0 0 16px 0;
    }

    @include desktops {
      transform: translateX(29px);
      margin: 0 0 16px 0;
    }
  }

  &--user-info {
    margin: 0 0 8px 0;

    @include tablets {
      transform: translateX(-20px);
      margin: 0 0 16px 0;
    }

    @include desktops {
      transform: translateX(-34px);
      margin: 0 0 16px 0;
    }
  }
}

.fieldset__input {
  margin: 11px 0 4px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $gray;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 100%;
    max-width: 430px;
  }
}

.fieldset__radio {
  margin: 2px 0 0 0;
  display: flex;
  height: 58px;
  width: 280px;
  cursor: pointer;

  &:first-child {
    @include tablets {
      width: 51%;
    }

    @include desktops {
      width: 308px;
    }
  }

  &:nth-child(2) {
    @include desktops {
      width: 308px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .radio-style {
      background-color: $disabled;
      transition: background-color 0.4s;
    }
  }

  &:active {
    .radio-style {
      background-color: $active-elem;
      transition: background-color 0.4s;
    }

    .radio-style::before {
      background-color: $active-radio;
    }
  }
}

.fieldset__checkbox {
  margin-top: 15px;
  display: flex;
  height: 46px;
  width: 280px;
  cursor: pointer;

  @include desktops {
    max-width: 180px;
  }

  &:first-child {
    @include tablets {
      width: 41%;
    }

    @include desktops {
      width: 180px;
    }
  }

  &:nth-child(3) {
    @include tablets {
      width: 41%;
    }

    @include desktops {
      width: 180px;
    }
  }

  &:last-child {
    @include tablets {
      max-width: 191px;
    }
  }

  &:hover {
    .checkbox-style {
      background-color: $disabled;
      transition: background-color 0.4s;
    }
  }

  &:active {
    .checkbox-style {
      background-color: $active-elem;
      transition: background-color 0.4s;
    }

    .checkbox-style::before {
      background-image: url("../img/form/tick-gray.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}


.fieldset__label {
  width: 90%;

  @include tablets {
    width: 648px;
  }

  @include desktops {
    width: 768px;
  }
}

.fieldset__textarea {
  margin: 18px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  min-width: 279px;
  height: 150px;
  background-color: $lightgray;
  resize: none;
  outline: none;
  border: 4px solid $lightgray;
  padding: 16px 0 0 16px;

  @include phones {
    width: 100%;
  }

  &:hover {
    background-color: $disabled;
    transition: background-color 0.4s;
  }

  &:focus {
    background-color: $white;
    border: 4px solid $disabled;
    transition: background-color 0.4s;
  }

  @include tablets {
    margin: 24px 0 0 0;
    height: 161px;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}

.fieldset__text {
  align-self: flex-end;
  margin: 2px 20px 19px 0;
  color: $gray;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  @include tablets {
    max-width: 324px;
    align-self: flex-end;
    margin: 0 0 14px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
