.user-opinion {
  display: flex;
  flex-direction: column;
  margin: 54px 0 0 0;

  @include tablets {
    margin: 106px 0 67px 0;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: none;
  }

  @include desktops {
    margin: 69px 0 67px 0;
    justify-content: space-evenly;
  }
}

.form__title {
  margin: 38px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @include tablets {
    margin: 64px 0 0 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  @include desktops {
    margin: 114px 0 0 0;
  }
}

.form__text {
  margin: 23px 0 0 0;
  min-width: 282px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;

  @include tablets {
    max-width: 440px;
    margin: 23px auto 0;
  }

  @include desktops {
    margin: 32px auto 0;
  }
}


.fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    background-image: none;
  }

  &--user-name {
    @include tablets {
      width: 50%;
      margin: 0 0 65px 0;
      // padding: 0 6% 0 7%;
      padding: 0 46px 0 57px;
    }

    @include desktops {
      padding: 0 4% 0 10%;
      margin: 0 0 72px 0;
    }
  }

  &--user-info {
    margin: 67px 0 65px 0;

    @include tablets {
      background-image: url("./../../img/form/live_vert.svg");
      background-repeat: no-repeat;
      background-position: 0px 1px;
      margin: 0 0 65px 0;
      width: 50%;
      // padding: 0 7% 0 5%;
      padding: 0 53px 0 41px;
    }

    @include desktops {
      padding: 0 10% 0 7%;
      background-position: 18px 1px;
    }
  }

  &--user-impres {
    margin: 14px 0 44px 0;

    @include tablets {
      margin: 22px 0 45px 0;
      padding: 0 12% 0 12%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include desktops {
      margin: 37px 0 68px 0;
      padding: 0 0 0 174px;
      justify-content: flex-start;
    }
  }

  &--user-emotions {
    @include tablets {
      width: 100%;
    }
  }

  &--user-visited {
    margin: 5px 0 51px 0;

    @include phones {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include tablets {
      margin: 14px 0 37px 0;
      padding: 0 0 0 19%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @include desktops {
      justify-content: space-between;
      margin: 44px 0 82px 0;
      padding: 0 156px 0 166px;
    }
  }
}

.fieldset__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @include tablets {
    font-size: 21px;
  }

  &--user-name {
    margin: 0 0 8px 0;

    @include tablets {
      transform: translateX(21px);
    }
  }

  &--user-info {
    margin: 0 0 8px 0;

    @include tablets {
      transform: translateX(-24px);
    }
  }
}

.user-opinion__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  width: 100%;
  margin-top: 0;

  @include tablets {
    background-image: url("../img/form/line.svg"), url("../img/form/line.svg");
    background-repeat: no-repeat;
    background-position: center right 8vw, center left 8vw;
    background-size: 16vw 1px;
    padding: 0 233px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  @include desktops {
    padding: 0 439px;
  }
}


.fieldset__input {
  margin: 19px 0 -3px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $gray;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 100%;
    max-width: 430px;
  }
}

.form-label {
  margin: 0 0 0 17px;

  @include tablets {
    margin: 0 0 0 14px;
  }
}

.form-input {
  margin: 0 auto;
  background-color: $input;
  height: 58px;
  min-width: 280px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  padding: 0 20px 0 20px;
  border: none;
  outline: 4px solid $color-opasity;

  @include tablets {
    width: 100%;
  }

  &:hover {
    background-color: $disabled;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $disabled;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black-op03;
  }

  &--email {
    background-image: url("./../img/form/mail.svg"), linear-gradient(to right, $input calc(100% - 56px), $gray-input 56px);
    background-position: center right 20px, 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 70px 0 20px;
    @include tablets {
      padding: 0 70px 0 10px;
    }

    &:hover {
      background-image: url("./../img/form/mail.svg"), linear-gradient(to right, $disabled calc(100% - 56px), $gray-input 56px);
      background-position: center right 20px, 100%;
      background-repeat: no-repeat;
    }

    &:focus {
      background-image: url("./../img/form/mail.svg"), linear-gradient(to right, $white calc(100% - 56px), $gray-input 56px);
      background-position: center right 20px, 100%;
      background-repeat: no-repeat;
    }
  }

  &--phone {
    background-image: url("./../img/form/phone.svg"), linear-gradient(to right, #F2F2F2 calc(100% - 56px), #E6E6E6 56px);
    background-position: center right 20px, 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 70px 0 20px;

    @include tablets {
      padding: 0 70px 0 10px;
    }

    &:hover {
      background-image: url("./../img/form/phone.svg"), linear-gradient(to right, $disabled calc(100% - 56px), $gray-input 56px);
      background-position: center right 20px, 100%;
      background-repeat: no-repeat;
    }

    &:focus {
      background-image: url("./../img/form/phone.svg"), linear-gradient(to right, $white calc(100% - 56px), $gray-input 56px);
      background-position: center right 20px, 100%;
      background-repeat: no-repeat;
    }
  }
}

.radio-elem:checked + .radio-style::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: $gray;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fieldset__radio {
  margin: 2px 0 0 0;
  display: flex;
  height: 58px;
  width: 280px;
  cursor: pointer;

  &:first-child {
    @include tablets {
      width: 50%;
    }

    @include desktops {
      width: 308px;
    }
  }

  &:nth-child(2) {
    @include desktops {
      width: 308px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .radio-style {
      background-color: $disabled;
      transition: background-color 0.4s;
    }
  }

  &:active {
    .radio-style {
      background-color: $active-elem;
      transition: background-color 0.4s;
    }

    .radio-style::before {
      background-color: $active-radio;
    }
  }
}

.radio-text {
  margin-left: 63px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  align-self: center;
}

.radio-elem {
  display: none;
}

.radio-style {
  position: absolute;
  background-color: $input;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  align-self: center;
}

.checkbox-elem:checked + .checkbox-style {
  background-image: url("../img/form/tick.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.fieldset__checkbox {
  margin-top: 15px;
  display: flex;
  height: 46px;
  width: 280px;
  cursor: pointer;

  @include desktops {
    max-width: 180px;
  }

  &:first-child {
    @include tablets {
      width: 41%;
    }

    @include desktops {
      width: 180px;
    }
  }

  &:nth-child(3) {
    @include tablets {
      width: 41%;
    }

    @include desktops {
      width: 180px;
    }
  }

  &:last-child {
    @include tablets {
      max-width: 191px;
    }
  }

  &:hover {
    .checkbox-style {
      background-color: $disabled;
      transition: background-color 0.4s;
    }
  }

  &:active {
    .checkbox-style {
      background-color: $active-elem;
      transition: background-color 0.4s;
    }

    .checkbox-style::before {
      background-image: url("../img/form/tick-gray.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.checkbox-text {
  margin-left: 63px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  align-self: center;
}

.checkbox-style {
  position: absolute;
  background-color: $input;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  align-self: center;
}

.checkbox-elem {
  display: none;
}

.fieldset__label {
  width: 90%;

  @include tablets {
    width: 648px;
  }

  @include desktops {
    width: 768px;
  }
}

.fieldset__textarea {
  margin: 18px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  min-width: 279px;
  height: 150px;
  background-color: $lightgray;
  resize: none;
  outline: none;
  border: 4px solid $lightgray;
  padding: 16px 0 0 16px;

  @include phones {
    width: 100%;
  }

  &:hover {
    background-color: $disabled;
    transition: background-color 0.4s;
  }

  &:focus {
    background-color: $white;
    border: 4px solid $disabled;
    transition: background-color 0.4s;
  }

  @include tablets {
    margin: 24px 0 0 0;
    height: 161px;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}

.form-submit {
  width: 281px;
  background: $blue;
  color: $white;
  border: none;
  padding: 18px 34px 13px 32px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-self: center;
  cursor: pointer;

  &:hover {
    background-color: $blue-hover;
    transition: background-color, 0.4s;
  }

  &:active {
    background-color: $blue-active;
    color: $white-op03;
    transition: background-color, color, 0.4s;
  }

  @include tablets {
    width: 324px;
  }

  @include desktops {
    width: 387px;
  }
}

.form-submit__text {
  align-self: flex-end;
  margin: 2px 20px 19px 0;
  color: $gray;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  @include tablets {
    max-width: 324px;
    align-self: flex-end;
    margin: 0 0 14px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.fieldset--submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 320px;

  @include tablets {
    margin: 47px auto 0;
    flex-direction: row;
    width: 648px;
  }

  @include desktops {
    width: 768px;
  }
}

.checkbox-elem:active + .checkbox-style {
  background-image: url("../img/form/tick-gray.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
