.form__title {
  margin: 38px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @include tablets {
    margin: 64px 0 0 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  @include desktops {
    margin: 114px 0 0 0;
  }
}

.form__text {
  margin: 23px 0 0 0;
  min-width: 282px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;

  @include tablets {
    max-width: 440px;
    margin: 23px auto 0;
  }

  @include desktops {
    margin: 32px auto 0;
  }
}
