.user-opinion{
  display: flex;
  flex-direction: column;
  background-image: url("../img/features/line.svg");
  background-repeat: repeat-x;
  background-position: top;
}

.user-opinion__title {
  width: 100%;
  @include tablets {
    padding: 0 263px;
    text-align: center;
  }
  @include desktops {
    padding: 0 439px;
  }
}

.form__title {
  margin-top: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.form__text{
  margin-top: 36px;
  min-width: 282px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
}

.user-opinion{
  margin-top: 28px;

  @include tablets{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  }
}

.fieldset {
  background-image: url("./../img/features/line.svg");
  background-repeat: repeat-x;
  background-position: top;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset--user-name,
.fieldset--user-info {
  @include tablets {
    max-width: 383px;
  }
}

.fieldset--user-impres,
.fieldset--user-emotions {
  @include tablets {
    width: 100%;
  }
}

.fieldset--user-visited,
.fieldset--user-impres {
  @include tablets {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.fieldset__title,
.user-opinion__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
.fieldset__input {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $gray;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-left: 23px;
}
.form-input{
  margin: 0 auto;
  background-color: $input;
  height: 58px;
  min-width: 280px;
  border: none;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  padding-left: 20px;
  outline: none;

}
 /* ВОПРОС: Правильно ли я сделал размеры через widht? */

.form-input--phone {
  background-image: url("./../img/form/phone.svg"), url("./../img/form/rect.svg");
  background-position: center right 20px, right;
  background-repeat: no-repeat;
  width: 280px;
  padding: 0 60px 0 20px;
}

.form-input--email {
  background-image: url("./../img/form/mail.svg"), url("./../img/form/rect.svg");
  background-position: center right 20px, right;
  background-repeat: no-repeat;
  width: 280px;
  padding: 0 60px 0 20px;
}

/* ВОПРОС: По непонятным причинам в placeholder'e не работают подключаемые несистемные шрифты.
            Работают только системные. Что делать? */

.form-input::placeholder {
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.fieldset__radio {
  display: flex;
  height: 58px;
  min-width: 280px;
}

.radio-text{
  margin-left: 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  align-self: center;
}

.radio-elem {
  display: none;
}

.radio-style {
  position: absolute;
  background-color: $input;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  align-self: center;
}

.radio-elem:checked + .radio-style::before{
  content:"";
  width: 16px;
  height: 16px;
  background-color: $gray;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fieldset__checkbox {
  margin-top: 15px;
  display: flex;
  height: 46px;
  min-width: 280px;
}

.checkbox-text{
  margin-left: 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  align-self: center;
}

.checkbox-style {
  position: absolute;
  background-color: $input;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  align-self: center;
}

.checkbox-elem {
  display: none;
}

.checkbox-elem:checked + .checkbox-style {
  background-image: url("../img/form/tick.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.fieldset__textarea{
  min-width: 279px;
  height: 150px;
  background-color: $lightgray;
  resize: none;
  outline: none;
  border: none;
  @include tablets {
    width: 648px;
  }
}

.fieldset__textarea::placeholder {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
}

.form-submit {
  width: 281px;
  background: $blue;
  color: $white;
  border: none;
  padding: 18px 34px 13px 32px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-self: center;
  @include tablets {
    max-width: 324px;
  }
}

.form__submit{
  align-self: flex-end;
  margin-right: 20px;
  color: $gray;
  margin-bottom: 52px;
  @include tablets {
    max-width: 324px;
    align-self: center;
    margin: auto 0;
    margin-left: 194px;
  }
}
