.gallery {
  @include tablets {
    width: 648px;
    margin: 0 auto;
  }

  @include desktops {
    width: 1200px;
  }
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 38px auto 0;
  min-width: 280px;

  @include tablets {
    max-width: 520px;
    margin: 66px auto 0;
    font-size: 30px;
    line-height: 26px;
  }

  @include desktops {
    width: 100%;
    margin: 99px auto 0;
  }
}

.gallery__text {
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  min-width: 303px;
  margin: 25px 0 61px 0;

  @include tablets {
    margin: 32px 0 80px 0;
    padding: 0 105px;
    font-size: 14px;
    line-height: 21px;
  }

  @include desktops {
    width: 100%;
    padding: 0 378px 8px;
  }
}

.gallery__item {
  margin: 0 auto 21px;
  // margin: 0 auto 0;

  &:last-child {
    margin: 0 auto 0;
  }

  @include tablets {
    margin: 0;

    &:last-child {
      margin: 0 50% 0 0;
    }
  }

  @include desktops {
    &:last-child {
      margin: 0 0 0 0;
    }
  }
}

.gallery .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery__item--main {

 @include tablets {
  .item__title {
   max-width: 86%; 
  }

  .item__author {
    word-break: break-word;
    max-width: 86%; 
   }

  .item__figcaption {
    max-width: 648px;
  }
 }

 @include desktops {
  .item__figcaption {
    max-width: 1200px;
  }
 }
}

.gallery__item--short {
  @include tablets {
    .item__title {
     max-width: 200px; 
    }
  
    .item__author {
      word-break: break-word;
      max-width: 200px; 
     }
  
    .item__figcaption {
      max-width: 324px;
    }

    .item__number-likes {
      word-break: break-word;
      width: 50px; 
    }
   }

   @include desktops {
    .item__figcaption {
      max-width: 400px;
    }
   }
}