.hero {
  display: block;
  height: 389px;
  background: url("../img/hero/triangles.svg"), url("../img/hero/background.jpg");
  background-position: center 332px, center -1px;
  background-size: 1200px 57px, 901px 389px;
  background-repeat: no-repeat, no-repeat;
  padding-top: 94px;
}

.hero--short{
  display: block;
  height: 158px;
  background: url("../img/hero/triangles.svg"), url("../img/hero/background.jpg");
  background-position: center 102px, center -224px;
  background-size: 1200px 57px, 901px 389px;
  background-repeat: no-repeat, no-repeat;
  padding-top: 94px;
  .hero__icon-sedona{
    display: block;
    margin: 0 auto;
    transform: translateY(-52px);
  }
}

.hero__icon-text {
  display: block;
  margin: 0 auto;
}

.hero__icon-sedona{
  display: block;
  margin: 0 auto;
  transform: translateY(-144px);
}
