.main-nav__burger {
  @include phones {
    display: block;
    width: 62px;
    height: 56px;
    background: url("../img/header/icon-menu23x22.svg") center center no-repeat;
  }

  @include tablets {
    @include visually-hidden;
  }

  &:hover {
    opacity: 0.6;
    transition: opacity 0.4s;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.4s;
  }
}

.main-nav--nojs {
  @media (max-width: 767px) {
    .nav-list {
      position: static;
      display: flex;
      flex-direction: column;
      border-bottom: 56px $white solid;
    }

    .main-nav__burger {
      display: none;
    }

    .nav-list__item {
      margin: 0;
    }

    .page-header__logo {
      margin-top: 224px;
    }
  }
}

.main-nav {
  @media (max-width: 767px) {
    width: 100%;
  }
  min-height: 56px;
  display: flex;
  flex-direction: row-reverse;

  &--opened {
    .nav-list__item {
      margin: 0;
    }

    .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
    }

    .main-nav__burger {
      position: absolute;
      background: url("../img/nav/icon-close.svg") center / 22px 22px no-repeat $transp;
    }
  }
}
