.main-nav--opened {
  .nav-list__link {
    color: $white;
  }

  .nav-list__item {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $blue-bottom;
    border-top: 1px solid $blue-top;
  }

  .nav-list__item:nth-child(3) {
    margin-left: 0;
  }

  .nav-list {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $blue;
  }

  .page-header__logo {
    display: none;
  }

  .main-nav__burger {
    position: absolute;
    height: 60px;
    width: 54px;
    background-color: $transp;
    background-image: url("../img/nav/icon-close.svg");
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-nav__burger-plank {
    display: none;
  }

  .main-nav__burger:hover {
    opacity: 0.6;
    transition: opacity 0.4s;
  }

  .main-nav__burger:active {
    opacity: 0.3;
    transition: opacity 0.4s;
  }
}
