.main-nav {
  min-height: 56px;
  @include phones {
  display: flex;
  flex-direction: row-reverse;
  }
}

.nav-list {
  width: 100%;
  @include phones {
    display: none;
    background-image: linear-gradient(180deg, $black-op 0%, $black-op02 100%);
    background-position: bottom;
    background-size: 800px 10px;
    background-repeat: no-repeat;
  }
  @include tablets {
    background-image: none;
    display: flex;
    justify-content: center;
  }
}

.nav-list__item {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  padding-top: 18px;
  padding-bottom: 17px;
  width: 20%;
  &:nth-child(2){
    margin-right: 10%;
  }
  &:nth-child(3){
    margin-left: 10%;
  }
}

.nav-list__link {
text-decoration: none;
color: $black;
transition: 0.4s;
  &:active {
    opacity: 0.3;
    transition: 0.4s;
  }
  &:hover {
    text-decoration: none;
    color: $blue;
    transition: 0.4s;
  }
}

.nav-list__link--current{
  color: $current;
}

.main-nav__burger {
  @include phones {
    border: none;
    padding: 17px 20px 17px 17px;
    background: $white;
  }
  @include tablets {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &:hover {
    opacity: 0.6;
    transition: opacity 0.4s;
  }
  &:active {
    opacity: 0.3;
    transition: opacity 0.4s;
  }
}
.main-nav__burger-plank:nth-child(2) {
  margin-top: 0px;
}

.main-nav__burger-plank {
  display: block;
  margin-top: 4px;
  background: $blue;
  height: 4px;
  width: 23px;
}

