.presentation {
  background-color: $white;
  padding: 38px 18px 0;
  margin: 0 auto;
  width: 100%;
}

.presentation__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.presentation__desc {
  margin: 0 auto;
  padding-top: 25px;
  min-width: 268px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
}

.presentation__video {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.presentation__video-iframe {
  background-image: url("../img/feedback/video.jpg");
  align-self: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/feedback/video@2x.jpg");
  }

  @include phones {
    width: 280px;
    height: 177px;
  }

  @include tablets {
    width: 648px;
    height: 500px;
  }

  @include desktops {
    width: 800px;
  }
}
