$white: #FFFFFF;
$input: #F2F2F2;
$blue: #81B3D2;
$blue-hover: #669EC0;
$blue-active: #5496BD;
$blue-top: #bcd3e0;
$blue-bottom: #4886aa;
$gray: #333333;
$black: #000000;
$black-op02: rgba(0, 0, 0, 0.2);
$black-op: rgba(0, 0, 0, 0);
$lightgray: #EEEEEE;
$current: #766357;
$transp: rgba(255,255,255,0);
