* {
  box-sizing: border-box;
}

.page {
  font-family: "PT Sans", "Arial", sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;

  @include phones {
    max-width: 767px;
  }

  @include tablets {
    max-width: 1200px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  box-shadow: 10px 0 19px -17px $black, -10px 0 19px -17px $black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white;
}

body,
html {
  height: 100%;
  background-color: $input;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// ul,
// li {
//   list-style-type: none;
//   @include margin-fix;
// }

figure,
p {
  @include margin-fix;
}
