.advantages__title {
  padding-top: 33px;
  padding-left: 25px;
  padding-right: 30px;
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

.advantages__text {
  padding-top: 35px;
  padding-left: 28px;
  padding-right: 30px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}

.advantages-list {
  margin-top:17px;
}

.advantages-list__item--background1{
  background-color: #81B3D2;
  background-image: url("/img/features/white__triantgles.svg"), url("/img/features/photo-city.jpg");
  background-repeat: no-repeat;
  background-position: center 0px, center 227px;
  background-repeat: no-repeat;
  background-size: 768px 37px, 520px 260px;
//       background-color: #81B3D2;
//       height: 450px;
//       margin-top: 53px;
}

.advantages-list__item {
  .advantages-list__title {
    padding-top: 71px;
    padding-right: 6px;
    font-family: 'PT Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .advantages-list__number {
    padding-top: 11px;
    padding-right: 6px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .advantages-list__desc {
    max-width: 282px;
    margin: 0 auto;
    padding-top: 17px;
    padding-right: 6px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 25px;;
  }
}

.benefits {
  margin-top: 274px;
  background: #FFFFFF;
}

.benefits-item {
  display: grid;
  grid-template-columns: 60px 260px;
  grid-template-rows: 68px 80px;
}

.benefits-item__img {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 25px;
  margin-left: 21px;
}

.benefits-item__title {
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 32px;
  margin-left: 5px;
}

.benefits-item__desc {
  max-width: 225px;
  grid-column-start: 2;
  grid-row-start: 2;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  margin-top: 6px;
  margin-left: 5px;
}

.benefits-item--options1 {
  .benefits-item__img {
    margin-top: 13px;
    margin-left: 18px;
  }
  .benefits-item__title {
    margin-top: 19px;
    margin-left: 10px;
  }
  .benefits-item__desc {
    min-width: 232px;
    margin-top: -7px;
    margin-left: 10px;
  }
}

.benefits-item--options2 {
  .benefits-item__img {
    margin-top: -23px;
    margin-left: 23px;
  }
  .benefits-item__title {
    margin-top: -15px;
    margin-left: 10px;
  }
  .benefits-item__desc {
    min-width: 232px;
    margin-top: -43px;
    margin-left: 10px;
  }
}


.advantages-list__item--options1,
.advantages-list__item--options2,
.advantages-list__item--options3,
.advantages-list__item--options4 {
  background-color: #EEEEEE;
  .advantages-list__title {
    padding-top: 35px;
    color:#000000;
  }
  .advantages-list__desc,
  .advantages-list__number {
    color:#333333;
  }
}

.advantages-list__item--options1 {
  background-image: url('/img/features/devils__bridge.png');
  background-position: center 190px;
  background-repeat: no-repeat;
  background-size: 520px 260px;
  background-color: #81B3D2;
  height: 450px;
  margin-top: -27px;
}

.advantages-list__item--options1{

  .advantages-list__title{
    color: #FFFFFF;
    padding-top: 39px;
    margin-left: 4px;
  }
  .advantages-list__number {
    color: #FFFFFF;
    margin-left: 5px;
  }
  .advantages-list__desc {
    color: #FFFFFF;
    padding-left: 4px;
  }
}

.advantages-list__item--options2{
  background-image: url("/img/features/line.svg");
  background-repeat: no-repeat;
  background-position: center 167px;
  .advantages-list__title{
    padding-top: 27px;
    margin-left: 4px;
  }
  .advantages-list__number {
    margin-left: 5px;
  }
  .advantages-list__desc {
    padding-left: 4px;
  }
}

.advantages-list__item--options3{
  background-image: url("/img/features/line.svg");
  background-repeat: no-repeat;
  background-position: center 163px;
  .advantages-list__title{
    padding-top: 23px;
    margin-left: 6px;
  }
  .advantages-list__number {
    margin-left: 5px;
  }
  .advantages-list__desc {
    padding-left: 4px;
    max-width: 262px;
  }
}

.advantages-list__item--options4{
  .advantages-list__title{
    padding-top: 26px;
    margin-left: 6px;
  }
  .advantages-list__number {
    margin-left: 5px;
  }
  .advantages-list__desc {
    padding-left: 4px;
    max-width: 262px;
  }
}

