.features{
  .container{
    .features__title{
      padding-top: 40px;
      padding-left: 28px;
      padding-right: 30px;
      font-family: 'PT Sans Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
    }
    .features__text{
      padding-top: 35px;
      padding-left: 28px;
      padding-right: 30px;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      mix-blend-mode: normal;
    }
    .features-block--background1{
      background-image: url('/img/features/photo-city.jpg');
      background-position: center 194px;
      background-repeat: no-repeat;
      background-size: 520px 260px;
      background-color: #81B3D2;
      height: 450px;
      margin-top: 53px;
    }
    .features-block--background2{
      background-image: url('/img/features/devils__bridge.png');
      background-position: center 194px;
      background-repeat: no-repeat;
      background-size: 520px 260px;
      background-color: #81B3D2;
      height: 450px;
      margin-top: 53px;
    }
    .features-block {



      .features-block__title{
        padding-top: 33px;
        font-family: 'PT Sans Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
      }
      .features-block__number{
        padding-top: 14px;
        font-family: 'PT Sans Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
      }
      .features-block__desc{
        padding-top: 17px;
        font-family: 'PT Sans Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        padding-bottom: 40px;
      }
      .features-block__number--font400{
        font-family: 'PT Sans';
        font-weight: 400;
      }
      .features-block__number--black{
        color: #000000;
        background: #EEEEEE;
      }
    }

    .features__benefits{
      .benefits__item{
        display: flex;
        padding-top: 24px;

        .benefits__item-img{
          margin-left: 18px;
        }
        .benefits__item-column{
          display: flex;
          flex-direction: column;
          margin-left: 8px;
          .benefits__item-title{
            margin-top: 7px;
            font-family: 'PT Sans Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: #000000;
            mix-blend-mode: normal;
          }
          .benefits__item-desc{
            padding-top: 27px;
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            color: #333333;
            mix-blend-mode: normal;
          }
        }
      }
    }
  }
}
