.feedback {
  .container{
    .feedback__title{
      padding-top: 40px;
      padding-left: 28px;
      padding-right: 30px;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
    }
    .feedback__desc{
      display: block;
      max-width: 357px;
      padding-top: 20px;
      padding-left: 26px;
      padding-right: 22px;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      mix-blend-mode: normal;
      margin-bottom: 32px;
    }
    .feedback__link{
      display: block;
      margin: 0 18px;
      background: #81B3D2;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      mix-blend-mode: normal;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 49px;
    }
    .feedback__img{


    }
  }
}
