.footer{

  .container{

    .footer__title{
      padding-top: 29px;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
    }
    .network-list{
      margin-top: 39px;
      display: flex;
      justify-content: center;
      .network-list__vk{
        padding: 17px 12px;
        background: #81B3D2;
        .network-list__vk-img{

          }
      }
      .network-list__tg{
        margin-left: 6px;
        padding: 15px 13px;
        background: #81B3D2;
          .network-list__tg-img{

          }

      }
      .network-list__youtube{
        margin-left: 6px;
        padding: 17px 14px;
        background: #81B3D2;
          .network-list__youtube-img{

          }

      }
    }
    .footer__sign{
      margin-top: 40px;
      display: flex;
      justify-content: center;
      .footer__text {
        padding-top: 5px;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        mix-blend-mode: normal;

      }
      .footer__logo {
        margin-left: 13px;
      }
    }
  }
}



