.hero {
  z-index: 0;
  display: block;
  height: 389px;
  background: url("../img/hero/triangles.svg"), url("../img/hero/background.jpg");
  background-position: center 332px, center -1px;
  background-size: 1200px 57px, 901px 389px;
  background-repeat: no-repeat, no-repeat;
  padding-top: 94px;
  .background3{

    background: url("../img/features/blue__triantgles.svg");
    background-position: center 0px;
    background-repeat: no-repeat;
  }
  .container{
    .hero__icon-text{

      z-index: 2;
      display: block;
      margin: 0 auto;
      margin-top: -4px;
      position: relative;
      right: 6px;


    }
    .hero__icon-sedona{

      z-index: 3;
      display: block;
      margin: -144px auto;

    }
  }
}

.hero__icon-sedona--form {

}

.short {
  height: 158px;
  background: url("../img/hero/triangles.svg"), url("../img/hero/background.jpg");
  background-position: center 101px, center -231px;
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, 901px 389px;
}

.short .container .hero__icon-sedona {
  margin: -62px auto;
}
