@font-face {
	font-family: 'PT Sans';
	src:
		url('ptsans.woff2') format('woff2'),
		url('ptsans.woff') format('woff');

}
@font-face {
	font-family: 'PT Sans Bold';
	src:
		url('ptsansbold.woff2') format('woff2'),
		url('ptsansbold.woff') format('woff');
}
